body {
            font-size: Arial;
            
        }
        .description
            {
            height: 800px;
            width: 500px;
            background-image:url(book.jpeg);
            background-size: cover;
            color:rgb(164, 14, 159);
            padding: 20px;
            margin: 30px auto;
            border: 2px solid red;
            border-radius: 10px;
        }
        .quote {
            background: rgb(13, 13, 13);
            padding: 10px;
            border-left: 10px solid rgb(231, 78, 83);
            margin: 20px 0;
            font-style: italic;
            text-align: center;
            border-end-end-radius: 10px;
        }
        .ifo
        {
            display: flex;
        }
        .protofolio 
        {
            background:rgb(216, 235, 6);
            gap: 25px;
            padding: 15px;
            border-start-end-radius: 5px;
        }
    
        .footer {
            background:rgb(9, 169, 233);
            color: rgb(57, 125, 79);
            padding: 5px;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            border-end-end-radius: 5px;
        }